
body {
  max-width: 720px;  padding-top: 0;
  background: linear-gradient(180deg, #1d4f23 0, #ccb 0.3rem, #eee 100%);
  background-repeat: no-repeat;
  background-color: #eee;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

body a,
summary {
  text-decoration: underline;
  color: #1d4f23;
  cursor: pointer;
}
body a:hover,
summary:hover {
  color: #1d7a29;
}
summary {
  padding:5px 0;
}

a.github {
  float: right;
  width: 0;
  height: 0;
  padding: 50px 50px 0 0;
  margin: 10px 0;
  background: url(https://avatars1.githubusercontent.com/u/518698?v=3&s=50) no-repeat 0 0;
  overflow: hidden;
  border-radius: 5px;
}

#headline {
  font-size: 1.6rem;
}
#sen {
  position:absolute;
  color: #dfff00;
  margin-left: -1.45rem;
  margin-top: -0.6rem;
  text-shadow: 0 0 5px #b64357;
  font-size: 150%;
  transform: rotate(-15deg);
}

#major {
  list-style: none;
  padding: 0;
}
#major li {
  display: flex;
  padding: 10px;
}

#major img {
  width: 128px;
  height: 128px;
}
#major li>div {
  padding: 0 10px;
}
